@import "../../app.scss";

.contact {
      height: 100%;
      max-width: 1150px;
      padding: 0 24px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      @include mobile {
            width: 100%;
            padding: 10px;
            gap: 10px;
            flex-direction: column;
            height: auto;
            min-height: 100vh;
            padding-bottom: 60px;
      }

      .textContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include mobile {
                  gap: 20px;
                  text-align: center;
                  align-items: center;
                  margin-top: 70px;
            }



            h1 {
                  font-size: clamp(48px, 8vw, 100px);
                  line-height: 1;

                  @include mobile {
                        font-size: 36px;
                  }
            }

            span {
                  font-weight: 300;
            }


      }

      .formContainer {
            flex: 1;
            position: relative;

            @include mobile {
                  width: 100%;
                  padding: 10px;
            }

            .phoneSvg {
                  position: absolute;
                  stroke: orange;
                  margin: auto;
                  z-index: -1;

                  width: 100%;
                  display: flex;
                  justify-content: center;
                  pointer-events: none;

                  svg {
                        width: 100%;
                        max-width: 450px;
                        height: auto;
                  }

                  @include mobile {
                        top: 0;
                        left: 0;
                        right: 0;
                        justify-content: center;

                        svg {
                              max-width: 240px;
                        }
                  }

            }

            form {
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                  position: relative;
                  width: 100%;

                  @include mobile {
                        gap: 10px;
                  }



                  input,
                  textarea {
                        padding: 20px;
                        background-color: transparent;
                        border: 1px solid white;
                        color: white;
                        border-radius: 5px;
                        font-weight: 500;

                        @include mobile {
                              padding: 5px;
                              gap: 10px;
                        }

                  }

                  button {
                        padding: 20px;
                        border: none;
                        background-color: orange;
                        cursor: pointer;

                        @include mobile {
                              padding: 10px;
                        }
                  }
            }
      }
}